*{
    margin:0;
    padding: 0;

}
body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:14px;
    color:#fff;
    background-color: #555;
    line-height: 1.6em;
}
h1{
    color: #fff;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 30px;
}
#container{
    width: 980px;
    margin: 40px auto;
    overflow: hidden;
}
#slider{
    width: 940px;
    height: 350px;
    overflow: hidden;
    float: left;
    padding: 3px;
    border: 2px solid #888;
    border-radius: 10px;
    
}
#slider img{
    width: 940px;
    height: 350px;
}
#prev, #next{
    float: left;
    margin-top:150px;
    cursor: pointer;
    position: relative;
    z-index: 100;
}
#prev{
    margin-right: -45px;
}
#next{
    margin-left: -45px;
}
.slide-copy{
    position: absolute;
    bottom: 0;
    left:0;
    padding: 20px;
    background-color: rgba(120,120,120, .5);   
}
.slide{
    position: relative;
}